@font-face {
  font-style: normal;
  font-family: 'ABeeZee';
  src: url('/fonts/ABeeZee-Regular.ttf') format('truetype');
}

.formContainer {
  width: 1330px;
  height: 656px;
  padding: 40px;
  margin: auto;
  background: white;
  box-shadow: 0px 0px 26.67px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: 1px solid #980000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'ABeeZee';
  src: url('/fonts/ABeeZee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.userListContainer {
  padding: 20px;
  font-family: 'ABeeZee', Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.userListContainer h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.searchInput {
  margin-bottom: 20px;
  padding: 15px;
  width: 500px;
  max-width: 100%;
  border-radius: 25px;
  border: 1.5px solid #b3b1b1;
  background-color: white;
  display: block;
  margin-left: auto;
  color: black;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 14px;
}

.userRow {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 220px;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.userCard:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
